body {
    background-color: #444444; 
    color: white;
    font-family: 'Merriweather', serif;
}
header{
    border: #989191 solid;
    border-radius: 15px;
    background-color: #AA4444;
    text-align: center;
    margin: 20px;
    color:#989191;
}

.minu {
    color: #bab2b2; 
    margin: 20px;
    text-align: center;
    
}
.get{
    text-align: center;
    color:#989191;
}
/*border: 3px solid #626262;
border-radius: 20px;
margin: 0; 
padding: 20px;*/
.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-frame {
    margin: 10px;
    padding: 10px;
    border: 0.5px dotted #606060; 
    border-radius: 5px;
    text-align: center;
    background-color: rgba(193, 18, 31, 0.17);
}

.photo-frame img {
    width: 100%;
    max-width: 200px;
}

button {
    background-color: #AA4444; 
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #991111; 
}

.photo-container img {
    margin: 5px;
    max-width: 100%;
    height: auto;
    height: 300px;
    width: 300px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #AA4444; 
    color: white;
    border: 1px solid #AA4444; 
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #991111;
}
.cr1 {
    text-align: center;
    color: #AA4444;
    margin: 20px;
}

.top1 {
    text-align: center;
    margin: 20px;
}
.top1:hover{
    background-color: #989191;
}

.top1 a {
    color: #666666; 
}
