body {
    background-color: #444444; 
    color: white;
    font-family: 'Merriweather', serif;
}

.title {
    text-align: center;
}

header {
    background-color: #AA4444; 
    display: flex;
    color: #333333; 
    justify-content: space-between;
    align-items: center;
}

a {
    color: #444444; 
}

a:hover {
    color: #444444;
}

a:visited {
    color: #444444;
}

nav {
    flex: 1;
    text-align: center;
    justify-content: center;
}

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

nav h3 {
    color: #333333;
    font-weight: bold;
}

nav h3:hover {
    color: white;
}

.content h1 {
    color: #AA4444; 
}

.content p {
    color: #989191; 
}

.content {
    overflow: hidden;
    border-right: 3px solid #444444; 
    white-space: wrap;
    margin: 0;
    letter-spacing: 3px;
    animation: typeWriter 2s steps(40) forwards;
    margin: 20px;
}

@keyframes typeWriter {
    from {
        width: 0; 
    }
    to {
        width: 100%; 
    }
}

.minu {
    color: #bab2b2; 
    margin: 20px;
    text-align: center;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border: 3px solid #626262;
    border-radius: 20px;
    margin: 0; 
    padding: 20px;
}

.photo-frame {
    margin: 10px;
    padding: 10px;
    border: 0.5px dotted #606060; 
    border-radius: 5px;
    text-align: center;
    background-color: rgba(193, 18, 31, 0.17);
}

.photo-frame img {
    width: 100%;
    max-width: 200px;
}

button {
    background-color: #AA4444; 
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #991111; 
}

.photo-container img {
    margin: 5px;
    max-width: 100%;
    height: auto;
    height: 300px;
    width: 300px;
}

.cr1 {
    text-align: center;
    color: #AA4444;
    margin: 20px;
}

.top1 {
    text-align: center;
    margin: 20px;
}
.top1:hover{
    background-color: #989191;
}

.top1 a {
    color: #666666; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #AA4444; 
    color: white;
    border: 1px solid #AA4444; 
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #991111;
}
